.body {
    background: #eee;
    height: 100%;
    width: 100%;
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-container form {
    width: 400px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-container img {
    width: 100px;
    margin: 10px 0 40px;
}

.register-container p {
    color: #ff3333;
    margin-bottom: 15px;
    border: 1px solid #ff3333;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.register-container input {
    height: 40px;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #777;
    font-size: 20px;
    width: 90%;
    border: 2px solid #ddd;
}

.register-container button {
    color: #fff;
    font-size: 16px;
    background: #fc6963;
    height: 56px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.register-container button:hover {
    opacity: 0.8;
}

.register-container hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
}

.register-container a {
    font-size: 16;
    font-weight: bold;
    color: #999;
    text-decoration: none;
}