@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(../../assets/fonts/Montserrat-Regular.otf) format('truetype');
  }

.body {
    background: #eee;
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 900px;
    padding: 30px;
    margin: auto;
    flex-direction: column;
}

.container header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.container header span {
    font-family: 'Montserrat';
    font-size: 25px;
    margin-left: 24px;
}

.container header img {
    padding-top: 10px;
    height: 64px;
}

.container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: #fff;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.container header button:hover {
    border-color: #999;
}

.listContainer{
    max-width: 850px;
    align-items: center;
}

.container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.container ul li {
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.container ul li button {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 16px;
    background: #fc6963;
    height: 56px;
    border: 0;
    border-radius: 5px;
    width: 90%;
    cursor: pointer;
}

.container ul li button:hover {
    opacity: 0.8;
}

.container ul li strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

.container ul li p+strong {
    margin-top: 32px;
}

.container ul li p {
    font-family: 'Montserrat';
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}